#header {
    margin: 1rem;
}

#mainContainer {
    display: flex;
    gap: 3rem;

    #liveData {
        justify-content: center;
        max-width: 500px;
        border: 1px solid black;
        border-radius: 3px;
        padding: .3rem;

        li {

            list-style-type: circle;
            margin-inline: 1.5rem 0rem;
            margin-block: .3rem;
            line-height: 20px;
        }



    }
}

#liveTitle {
    margin-top: 5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

#formContainer {
    display: flex;
    flex-direction: column;
    width: 750px;

    #textarea {

        font-size: .9rem;
        font-weight: 200;


        margin: 1rem;
        padding: .2rem;

        outline: none;
        width: 750px;
        height: 350px;
    }

    #btn {
        cursor: pointer;
        width: 100%;
        padding: .5rem;
        margin: 1rem;
    }
}